{% extends "::base.html.twig" %}

{% block title 'Liste des tweets' %}

{% block header %}

<h1>Les derniers Tweets</h1>

{% endblock %}

{% block content %}

        {% for index, tweet in tweets %}
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ tweet.message }}
                </div>
            </div>
            {% else %}
            aucun tweet
        {% endfor %}

{% endblock %}

{% block footer %}
    {{ parent() }}
    <a href="{{ path('app_twig_test') }}">Lien vers la page Twig Test</a>
{% endblock %}
